body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(225, 146, 146);
    width: 100%;
    max-width: 350px;
    text-align: center;
}


h2 {
    margin-bottom: 20px;
    color: #e22626;
}


.input1 {
    margin-bottom: 15px;
    text-align: left;
}

.input1 label {
    font-size: 14px;
    color: black;
    display: block;
    margin-bottom: 5px;
}

.input1 input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.button {
    width: 100%;
    padding: 10px;
    background-color: #6e7276;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #086ad4;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
